# Files to be ignored
/cache/.keep
/log/.keep
/__pycache__

# We force thie first default version of this file, but don't want the
# specific details being included in future commits
python/log/
/dbconf.py
